<div class="container"><!--部分テンプレのグリッドシステム"container"-->
  <div class="row"><!--部分テンプレのグリッドシステム"row"-->
    <%= render 'books/info', user: @user, book: @book %>
    <div class="col-md-8 offset-md-1 mt-4"><!--右側の表示-->
      <h2>Users</h2>
       <table class="table table-hover table-inverse">
         <thead>
           <tr>
             <th>image</th>
             <th>name</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user)  %> </td>
            </tr>
            <% end %>
         </tbody>
       </table>






    </div>
 </div><!--部分テンプレ<div class="row"の閉じタグ -->
</div><!--部分テンプレ<div class="container"の閉じタグ -->