<div class="container"><!--部分テンプレのグリッドシステム"container"-->
  <div class="row"><!--部分テンプレのグリッドシステム"row"-->
    <%= render 'books/info', user: @user, book: @user.book %>
      <div class="col-md-8 offset-md-1"><!--右側の表示-->











      </div>
  </div><!--部分テンプレ<div class="row"の閉じタグ -->
</div><!--部分テンプレ<div class="container"の閉じタグ -->

