<div class="container"><!--部分テンプレのグリッドシステム"container"-->
  <div class="row"><!--部分テンプレのグリッドシステム"row"-->
    <%= render 'info', user: @book.user, book: @book %>
      <div class="col-md-8 offset-md-1"><!--右側の表示-->















      </div>
  </div>
</div>